option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "moziobackend.settings"
    PYTHONPATH: "/opt/python/ondeck/app/moziobackend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "moziobackend/moziobackend/wsgi.py"

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
